:80 {
    @admin host bota.io.vn
    handle @admin {
        encode zstd gzip

        handle /api/* {
            reverse_proxy api:8009
        }

        handle {
            reverse_proxy admin:80
        }
    }

    @api host api.bota.io.vn
    handle @api {
        encode zstd gzip
        reverse_proxy api:8009
    }
}
